@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: #f1fefe;
    font-family: 'Sour Gummy', sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    &.blue-theme { background-color: #e3f2fd; }
    &.green-theme { background-color: #e8f5e8; }
    &.red-theme { background-color: #ffebee; }
    nav {
        font-size: 20px;
        text-align: right;
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        text-align: left;
        margin-top: 20px;
        font-size: 14px;
        color: #777;
    }
}

main{
    margin: 0 auto;
    width: 800px;
    /* text-align: center; */
    h1{
        text-align: center;
        font-size: 45px;
    }
    p{
        margin: 0 auto;
        text-align: center;
    }
    img{
        margin: 0 auto;
    }
}


section.about{
    display: flex;
    margin: 0 auto;
}
section.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 30px;
}
img {
    display: block;
    width: 30%;
    height: 100%;
    margin-top: 20px;
}

/* Flash Message Styles */
.alert {
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 4px;
    border-left: 4px solid;
    background-color: #f5f5f5;
}

.alert p {
    margin: 0.5rem 0;
}

.alert p:first-child {
    margin-top: 0;
}

.alert p:last-child {
    margin-bottom: 0;
}

/* Success messages - green */
.alert.success {
    background-color: #e8f5e9;
    border-left-color: #4caf50;
    color: #2e7d32;
}

/* Error messages - red */
.alert.error {
    background-color: #ffebee;
    border-left-color: #f44336;
    color: #c62828;
}

/* Warning messages - orange */
.alert.warning {
    background-color: #fff3e0;
    border-left-color: #ff9800;
    color: #e65100;
}

/* Info messages - blue */
.alert.info {
    background-color: #e3f2fd;
    border-left-color: #2196f3;
    color: #1565c0;
}