html, body {
    background-color: #f1fefe;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
}



section.about{
    display: flex;
}
section.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 30px;
}
img {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
}