<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <img src="/public/images/JennaPic.jpg" alt="JennaImage">
    <h2>Jenna McHargue</h2>
    <p>My major is web design and development. I am projected to graduate April 2027. I am the oldest child of four.</p>
    <ul>
        <li>Skiing</li>
        <li>Snowboarding</li>
        <li>Reading</li>
        <li>Piano</li>
        <li>Puzzles</li>
        <li>Working Out</li>
        <li>Drying Flowers</li>
    </ul>
</body>
</html>