    <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <section class="about">
            <img src="/images/JennaPic.jpg" alt="JennaImage">
            <section class="about-me">
                <h2>Jenna McHargue</h2>
                <p1>My major is web design and development. I am projected to graduate April 2027. I am the oldest child of four.</p1>
                <ul>
                    <li>Skiing</li>
                    <li>Snowboarding</li>
                    <li>Reading</li>
                    <li>Piano</li>
                    <li>Puzzles</li>
                    <li>Working Out</li>
                    <li>Drying Flowers</li>
                </ul>
            </section>
        </section>
    </main>
    <%- include('partials/footer') %>
